body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-block: 0;
}

* {
  font-weight: 600;
}

button {
  border: none;
  cursor: pointer;
}

.page-1 {
  background-image: -webkit-gradient(linear, left top, right top, from(#eedab5), to(#e3f9ee));
  background-image: linear-gradient(to right, #eedab5, #e3f9ee);
  padding: 30px 105px 0px 105px;
}

.page-1 header {
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-1 header .header-title {
  height: 100%;
  width: 180px;
}

.page-1 header .header-title h1 {
  font-weight: 700;
  font-size: 34px;
}

.page-1 header .header-menu {
  margin-left: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 35px;
}

.page-1 header .header-menu .menu-item {
  padding: 0 12px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 4px solid transparent;
}

.page-1 header .header-menu .menu-item h2 {
  height: 32px;
}

.page-1 header .header-menu .menu-item img {
  margin-left: 8px;
}

.page-1 header .header-menu .menu-item.active {
  color: #3bb77e;
  border-bottom: 4px solid #3bb77e;
}

.page-1 header .header-menu .menu-item.active h2 {
  font-weight: bold;
}

.page-1 header .header-buttons {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 600;
}

.page-1 header .header-buttons .header-btn {
  border: 2px solid #000000;
  margin-left: 6px;
  padding: 0 6px 0 6px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-1 header .header-buttons .header-btn.header-split-btn {
  padding: 0;
}

.page-1 header .header-buttons .header-btn.header-split-btn div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-1 header .header-buttons .header-btn.header-split-btn div:not(:nth-of-type(1)) {
  border-left: 2px solid #000000;
}

.page-1 header .header-buttons .header-btn.header-split-btn div img {
  margin: 0 14px 0 14px;
}

.page-1 header .header-buttons .header-btn span, .page-1 header .header-buttons .header-btn img {
  margin: 0 3px 0 3px;
}

.page-1 .main-section {
  margin-top: 150px;
  height: 668px;
  width: 100%;
  position: relative;
}

.page-1 .main-section .main {
  margin-left: 90px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-1 .main-section .main h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 68px;
}

.page-1 .main-section .main .main-l2 {
  color: #10B981;
}

.page-1 .main-section .main .main-l4 {
  font-weight: 700;
  font-size: 22px;
  border-bottom: 3px solid #000000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 20px;
}

.page-1 .main-section .main .btn {
  background-color: #000000;
  margin-top: 65px;
  color: #ffffff;
  border-radius: 100px;
  height: 45px;
  width: 155px;
  font-size: 16px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page-1 .main-section .main-image {
  height: 550px;
  width: 500px;
  position: absolute;
  right: 0;
  top: 0;
}

.page-1 .main-section .main-image .backdrop {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background: linear-gradient(91.06deg, #008000 0.91%, #FFD700 97.81%);
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

.page-1 .main-section .main-image .foreground {
  position: relative;
  top: 0;
  right: 0;
  width: 500px;
}

.page-1 .main-section .main-image .foreground img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.page-1 .main-section .main-categories {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 30px rgba(36, 38, 43, 0.1);
          box-shadow: 0px 1px 30px rgba(36, 38, 43, 0.1);
  position: absolute;
  height: 150px;
  width: 100%;
  bottom: -32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.page-1 .main-section .main-categories .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-1 .main-section .main-categories .item .contents {
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-1 .main-section .main-categories .item .contents h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #10B981;
}

.page-1 .main-section .main-categories .item .contents p {
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.page-2 {
  padding: 0px 105px;
  margin: 125px auto 90px auto;
}

.page-2 .food-types {
  width: 100%;
  height: 236px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-2 .food-types .item {
  position: relative;
}

.page-2 .food-types .item img {
  width: 375px;
  margin: -2px -4px;
}

.page-2 .food-types .item h3, .page-2 .food-types .item h5, .page-2 .food-types .item button {
  position: absolute;
  margin-left: 25px;
  top: 0;
  left: 0;
}

.page-2 .food-types .item h5 {
  font-family: Satisfy;
  font-size: 16px;
  font-weight: 400;
  color: #3bb77e;
  top: 45px;
}

.page-2 .food-types .item h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  top: 65px;
}

.page-2 .food-types .item button {
  top: 125px;
  background-color: #ffba43;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  height: 30px;
  width: 100px;
  font-size: 10px;
}

.page-2 .food-menu {
  margin-top: 90px;
}

.page-2 .food-menu h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
}

.page-2 .food-menu h2 span {
  border-bottom: 4px solid #ffba43;
}

.page-2 .food-menu nav {
  margin-top: 48px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-2 .food-menu nav .item {
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  margin: 0px 26px;
  font-weight: 400;
}

.page-2 .food-menu nav .item.active {
  padding: 12px 52px;
  color: white;
  background-color: #3bb77e;
  border-radius: 6px;
  -webkit-box-shadow: -1.15px 10.94px 39.56px rgba(0, 0, 0, 0.15);
          box-shadow: -1.15px 10.94px 39.56px rgba(0, 0, 0, 0.15);
}

.page-2 .food-list {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-2 .food-list .item {
  padding: 8.75px;
  -webkit-box-shadow: 0px 1px 30px rgba(36, 38, 43, 0.1);
          box-shadow: 0px 1px 30px rgba(36, 38, 43, 0.1);
  border-radius: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 2vh;
}

.page-2 .food-list .item .food {
  height: 262px;
  width: 262px;
}

.page-2 .food-list .item h6 {
  margin: 12px auto auto 5px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
}

.page-2 .food-list .item h4 {
  margin-left: 4px;
  font-size: 21px;
  line-height: 28px;
  font-weight: 600;
}

.page-2 .food-list .item .price-rating {
  margin: 5px auto auto 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-2 .food-list .item .price-rating .price {
  font-family: 'Times New Roman', Times, serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-2 .food-list .item .price-rating .price .original-price {
  margin-right: 6px;
  text-decoration: line-through;
}

.page-2 .food-list .item .price-rating .price .actual-price {
  color: #3bb77e;
}

.page-2 .food-list .item .price-rating .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-2 .food-list .item .price-rating .rating i {
  font-size: 12px;
  color: #ffba43;
  margin: 0 1.6px;
}

.page-2 .food-list .item .btn-list {
  margin: 5px auto 13px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-2 .food-list .item .btn-list .btn {
  background-color: #ffba43;
  border-radius: 6px;
  height: 40px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-2 .food-list .item .btn-list .btn.btn-cart {
  text-transform: uppercase;
  width: 150px;
}

.page-2 .food-list .item .btn-list .btn.btn-cart img {
  margin-left: 3px;
  position: relative;
  top: -2px;
}

.page-2 .food-list .item .btn-list .btn.btn-fav {
  margin: auto 5px auto auto;
  height: 40px;
  width: 40px;
}

.page-2 .food-list .item .btn-list .btn.btn-watch {
  height: 40px;
  width: 40px;
}

.page-3 {
  height: 484px;
  background: url("./assets/images/Vegs.png") no-repeat center center scroll;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-3 .backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.page-3 :not(.backdrop) {
  z-index: 10;
}

.page-3 .title {
  padding-top: 115px;
  text-align: center;
  font-size: 48px;
  color: #ffffff;
  font-weight: 600;
}

.page-3 .title span {
  border-bottom: 4px solid #ffffff;
}

.page-3 .btn {
  margin-top: 55px;
  background-color: #ffba43;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.page-3 .btn .play {
  position: relative;
}

.page-3 .btn .play::before {
  content: '';
  border-bottom: 24px solid #ffffff;
  border-right: 36px solid transparent;
  position: absolute;
  left: -12px;
  top: -24px;
}

.page-3 .btn .play::after {
  content: '';
  border-top: 24px solid #ffffff;
  border-right: 36px solid transparent;
  position: absolute;
  left: -12px;
  top: 0px;
}

.page-4 .title {
  margin-top: 70px;
  width: 570px;
  margin: 70px auto 20px auto;
  position: relative;
}

.page-4 .title h1 {
  font-size: 48px;
  line-height: 66px;
  font-weight: 600;
  text-transform: capitalize;
}

.page-4 .title .underline {
  border-bottom: 4px solid #ffba43;
  position: absolute;
  width: 195px;
  bottom: -2px;
  left: 130px;
}

.page-4 .menu {
  margin: 130px 125px 115px 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-4 .menu .banner {
  height: 490px;
  min-width: 396px;
  background: url("./assets/images/Banner.png") no-repeat center center scroll;
  background-size: cover;
}

.page-4 .menu .banner h3 {
  color: #ffffff;
  font-size: 37px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  margin: auto 60px;
  padding-top: 54px;
}

.page-4 .menu .banner button {
  margin: 38px auto auto 130px;
  background-color: #ffba43;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  height: 40px;
  width: 120px;
  font-size: 14px;
}

.page-4 .menu .menu-list {
  margin-left: 47px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.page-4 .menu .menu-list .item {
  -webkit-box-shadow: 0px 1px 30px rgba(36, 38, 43, 0.1);
          box-shadow: 0px 1px 30px rgba(36, 38, 43, 0.1);
  border-radius: 6px;
  height: 120px;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.page-4 .menu .menu-list .item img {
  height: 120px;
  width: 120px;
}

.page-4 .menu .menu-list .item .desc {
  margin-left: 15px;
}

.page-4 .menu .menu-list .item .desc h5 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 8px;
}

.page-4 .menu .menu-list .item .desc .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-4 .menu .menu-list .item .desc .rating i {
  font-size: 12px;
  color: #ffba43;
  margin-right: 6px;
}

.page-4 .menu .menu-list .item .desc .price {
  font-family: 'Times New Roman', Times, serif;
  color: #3bb77e;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.page-5 {
  background-color: #3bb77e;
  padding: 36px 64px 68px 64px;
}

.page-5 .title {
  width: 660px;
  margin: 36px auto 20px auto;
  position: relative;
}

.page-5 .title h1 {
  font-size: 48px;
  line-height: 66px;
  font-weight: 600;
  text-transform: capitalize;
  color: #ffffff;
}

.page-5 .title .underline {
  border-bottom: 4px solid #ffffff;
  position: absolute;
  width: 195px;
  bottom: -2px;
  left: 170px;
}

.page-5 .testimonials {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-5 .testimonials .item {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  height: 160px;
  width: 370px;
  padding: 19px 25px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-5 .testimonials .item .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #4a4a4a;
  height: 97px;
}

.page-5 .testimonials .item .text .testimonial {
  font-weight: 400;
  font-size: 16px;
  width: 300px;
  margin-top: 10px;
}

.page-5 .testimonials .item .text .quote {
  font-family: 'Times New Roman', Times, serif;
  font-size: 96px;
  position: relative;
  top: -4px;
}

.page-5 .testimonials .item .customer {
  background-color: #3bb77e;
  border-radius: 6px;
  padding-left: 15px;
  color: #ffffff;
  position: relative;
}

.page-5 .testimonials .item .customer img {
  position: absolute;
  height: 41px;
  width: 41px;
  border: 2px solid #ffffff;
  border-radius: 4px;
  right: 8px;
  top: -20px;
}

.page-5 .testimonials .item .customer .name {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 600;
}

.page-5 .testimonials .item .customer .designation {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
}

.page-5 .navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.page-5 .navigator .bar {
  width: 120px;
  height: 4px;
  background-color: rgba(250, 250, 250, 0.5);
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
}

.page-5 .navigator .bar.active {
  background-color: #FAFAFA;
}
/*# sourceMappingURL=styles.css.map */