$primary1: #3bb77e;
$primary2: #ffba43;
$secondary1: #10b981;
$secondary2: #eedab5;
$secondary3: #e6f8ef;
$secondary4: #e3f9ee;

$text1: #000000;
$text2: #10B981;
$text3: #ffffff;
$text4: #3bb77e;

$font-bold: 700;
$font-semi-bold: 600;
$font-regular: 400;

body {
    // background-color: $secondary2;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p { margin-block: 0; }
* { font-weight: 600; }
button { border: none; cursor: pointer; }

.page-1 {
    background-image: linear-gradient(to right, $secondary2 , $secondary4);
    padding: 30px 105px 0px 105px;

    header {
        height: 54px;
        // background-color: tomato;
        display: flex;
        // flex-direction: row;
        align-items: center;
        // margin-left: 100px;
        // margin-right: 30px;

        .header-title {
            height: 100%;
            width: 180px;
            // background-color: red;
            // padding-left: 16px;
            // padding-right: 16px;

            h1 {
                font-weight: $font-bold;
                font-size: 34px;
            }
        }

        .header-menu {
            // background-color: yellowgreen;
            margin-left: 35px;
            display: flex;
            align-items: flex-end;
            height: 35px;
            
            .menu-item {
                // background-color: turquoise;
                padding: 0 12px 0 12px;
                display: flex;
                align-items: center;
                border-bottom: 4px solid transparent;
                
                h2 {
                    height: 32px;
                }

                img {
                    margin-left: 8px;
                }

                &.active {
                    color: $primary1;
                    border-bottom: 4px solid $primary1;

                    h2 {
                        font-weight: bold;
                    }
                }
            }
        }

        .header-buttons {
            // background-color: blue;
            margin-left: auto;
            display: flex;
            font-size: 18px;
            font-weight: 600;

            .header-btn {
                border: 2px solid $text1;
                margin-left: 6px;
                padding: 0 6px 0 6px;
                height: 34px;
                display: flex;
                align-items: center;

                &.header-split-btn {
                    padding: 0;

                    div {
                        height: 100%;
                        display: flex;
                        align-items: center;

                        &:not(:nth-of-type(1)) {
                            border-left: 2px solid $text1;
                        }

                        img {
                            // background-color: yellow;
                            margin: 0 14px 0 14px;
                        }
                    }

                }
                span, img {
                    margin: 0 3px 0 3px;
                }
            }
        }
    }

    .main-section {
        // background-color: tomato;
        margin-top: 150px;
        height: 668px;
        width: 100%;
        position: relative;

        .main {
            // background-color: blue;
            margin-left: 90px;
            width: 500px;
            display: flex;
            flex-direction: column;
            
            h1 {
                font-weight: $font-bold;
                font-size: 44px;
                line-height: 68px;
            }

            .main-l2 {
                color: $text2;
            }

            .main-l4 {
                font-weight: $font-bold;
                font-size: 22px;
                border-bottom: 3px solid $text1;
                width: fit-content;
                margin-top: 20px;
            }

            .btn {
                background-color: $text1;
                margin-top: 65px;
                color: $text3;
                border-radius: 100px;
                height: 45px;
                width: 155px;
                font-size: 16px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }

        .main-image {
            // background-color: red;
            height: 550px;
            width: 500px;
            position: absolute;
            right: 0;
            top: 0;

            .backdrop {
                position: absolute;
                border-radius: 50%;
                height: 100%;
                width: 100%;
                background: linear-gradient(91.06deg, #008000 0.91%, #FFD700 97.81%);
                filter: blur(30px);
            }

            .foreground {
                position: relative;
                top: 0;
                right: 0;
                width: 500px;

                img {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .main-categories {
            background-color: $text3;
            box-shadow: 0px 1px 30px rgba(36, 38, 43, 0.1);
            position: absolute;
            height: 150px;
            width: 100%;
            bottom: -32px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 5px;

            .item {
                display: flex;

                .contents {
                    margin-left: 8px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h4 {
                        font-size: 24px;
                        line-height: 36px;
                        font-weight: $font-semi-bold;
                        color: $text2;
                    }

                    p {
                        color: $text1;
                        font-size: 14px;
                        line-height: 21px;
                        font-weight: $font-regular;
                    }
                }
            }
        }
    }
}

.page-2 {
    padding: 0px 105px;
    margin: 125px auto 90px auto;

    .food-types {
        // background-color: tomato;
        width: 100%;
        height: 236px;
        display: flex;
        justify-content: space-between;
        // margin: 0 -4px;

        .item {
            position: relative;
            // width: fit-content;
            // width: 375px;
            // margin-left: 4px;

            img {
                // position: absolute;
                width: 375px;
                // z-index: 0;
                margin: -2px -4px;
            }

            h3, h5, button {
                position: absolute;
                margin-left: 25px;
                // z-index: 10;
                top: 0;
                left: 0;
            }

            h5 {
                font-family: Satisfy;
                font-size: 16px;
                font-weight: $font-regular;
                color: $text4;
                top: 45px;
            }

            h3 {
                font-size: 24px;
                line-height: 36px;
                font-weight: $font-regular;
                top: 65px;
            }

            button {
                top: 125px;
                background-color: $primary2;
                color: $text3;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                border-radius: 6px;
                height: 30px;
                width: 100px;
                font-size: 10px;
            }
        }
    }

    .food-menu {
        // background-color: tomato;
        margin-top: 90px;

        h2 {
            text-align: center;
            font-size: 48px;
            font-weight: $font-semi-bold;

            span {
                border-bottom: 4px solid $primary2;
            }
        }

        nav {
            // background-color: tomato;
            margin-top: 48px;
            height: 52px;
            display: flex;
            justify-content: center;
            align-items: center;

            .item {
                color: $text1;
                font-size: 18px;
                line-height: 28px;
                margin: 0px 26px;
                // margin: 12px 52px;
                font-weight: $font-regular;

                &.active {
                    padding: 12px 52px;
                    color: white;
                    background-color: $primary1;
                    border-radius: 6px;
                    box-shadow: -1.15px 10.94px 39.56px rgba(0, 0, 0, 0.15);
                }
            }
        }
    }

    .food-list {
        margin-top: 42px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // justify-content: center;

        .item {
            padding: 8.75px;
            box-shadow: 0px 1px 30px rgba(36, 38, 43, 0.1);
            border-radius: 6px;
            width: fit-content;
            margin-bottom: 2vh;

            .food {
                height: 262px;
                width: 262px;
            }

            h6 {
                margin: 12px auto auto 5px;
                font-size: 14px;
                line-height: 28px;
                font-weight: $font-regular;
            }

            h4 {
                margin-left: 4px;
                font-size: 21px;
                line-height: 28px;
                font-weight: $font-semi-bold;
            }

            .price-rating {
                margin: 5px auto auto 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .price {
                    font-family: 'Times New Roman', Times, serif;
                    display: flex;

                    .original-price {
                        margin-right: 6px;
                        text-decoration: line-through;
                    }

                    .actual-price {
                        color: $text4;
                    }
                }

                .rating {
                    display: flex;

                    i {
                        font-size: 12px;
                        color: $primary2;
                        margin: 0 1.6px;
                    }
                }
            }

            .btn-list {
                margin: 5px auto 13px auto;
                display: flex;

                .btn {
                    background-color: $primary2;
                    border-radius: 6px;
                    height: 40px;
                    color: $text3;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.btn-cart {
                        text-transform: uppercase;
                        width: 150px;

                        img {
                            margin-left: 3px;
                            position: relative;
                            top: -2px;
                        }
                    }

                    &.btn-fav {
                        margin: auto 5px auto auto;
                        height: 40px;
                        width: 40px;
                    }

                    &.btn-watch {
                        height: 40px;
                        width: 40px;
                    }
                }
            }
        }
    }
}

.page-3 {
    height: 484px;
    background: url('./assets/images/Vegs.png') no-repeat center center scroll;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .backdrop {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 0;
    }

    :not(.backdrop) {
        z-index: 10;
    }

    .title {
        padding-top: 115px;
        text-align: center;
        font-size: 48px;
        color: $text3;
        font-weight: $font-semi-bold;
        
        span {
            border-bottom: 4px solid $text3;
        }
    }

    .btn {
        margin-top: 55px;
        background-color: $primary2;
        height: 120px;
        width: 120px;
        border-radius: 50%;

        .play {
            position: relative;

            &::before {
                content: '';
                border-bottom: 24px solid $text3;
                border-right: 36px solid transparent;
                position: absolute;
                left: -12px;
                top: -24px;
            }

            &::after {
                content: '';
                border-top: 24px solid $text3;
                border-right: 36px solid transparent;
                position: absolute;
                left: -12px;
                top: 0px;
            }
        }
    }
}