$primary1: #3bb77e;
$primary2: #ffba43;
$secondary1: #10b981;
$secondary2: #eedab5;
$secondary3: #e6f8ef;
$secondary4: #e3f9ee;
$text1: #000000;

body {
    // background-color: $secondary2;
    background-image: linear-gradient(to right, $secondary2 , $secondary4);
    font-family: 'Poppins', sans-serif;
    margin-left: 100px;
    margin-right: 105px;
    margin-top: 30px;
}

h1, h2 { margin-block: 0; }
* { font-weight: 600; }

header {
    height: 45px;
    // background-color: tomato;
    display: flex;
    // flex-direction: row;
    align-items: center;
    // margin-left: 100px;
    // margin-right: 30px;

    .header-title {
        // background-color: red;
        padding-left: 16px;
        padding-right: 16px;

        h1 {
            font-weight: bold;
            font-size: 34px;
        }
    }

    .header-menu {
        // background-color: yellowgreen;
        margin-left: 30px;
        display: flex;
        align-items: flex-end;
        height: 35px;
        
        .menu-item {
            // background-color: turquoise;
            padding: 0 12px 0 12px;
            display: flex;
            align-items: center;
            border-bottom: 4px solid transparent;
            
            h2 {
                height: 32px;
            }

            i {
                margin-left: 8px;
            }

            &.active {
                color: $primary1;
                border-bottom: 4px solid $primary1;

                h2 {
                    font-weight: bold;
                }
            }
        }
    }

    .header-buttons {
        // background-color: blue;
        margin-left: auto;
        display: flex;
        font-size: 18px;
        font-weight: 600;

        .header-btn {
            border: 2px solid $text1;
            margin-left: 8px;
            padding: 0 8px 0 8px;
            height: 34px;
            display: flex;
            align-items: center;

            &.header-split-btn {
                padding: 0;

                div {
                    height: 100%;
                    display: flex;
                    align-items: center;

                    &:not(:nth-of-type(1)) {
                        border-left: 2px solid $text1;
                    }

                    span {
                        // background-color: yellow;
                        margin: 0 15px 0 15px;
                    }
                }

            }
            span, i {
                margin: 0 3px 0 3px;
            }
        }
    }
}